footer {
    background-color: rgb(118, 113, 113);
    align-items: center;
    justify-items: center;
    padding: 15px;
    margin: 0 auto;
    
}

.Redes_Sociais {
    color: #ffffff;
    text-align: center;

}

.iconos-sociales {
width: 10px;
height: 10px;
display: flex;
background-color: red;
top: 1100px;
right: 50px;
left: 40px;
bottom: -5px;
margin: auto;
}

.formulario {
    justify-content: center;
    display: flex;
    margin: 0 auto;
}
